@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@media screen and (max-width: 600px) {
  div.example {
    display: none;
  }
}
#nav-bar{
  display: block;
  height: 75px;
  line-height: 1em;
  background-color: #ecb390;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  font-family: 'Abel', sans-serif;
  padding-top: 30px;
  padding-right: 20px;
}
#title{
  text-align: center;
  font-size: 55px;
  font-variant: small-caps;
}
#tag{
  text-align: center;
}
#right{
  text-align: right;
  font-size: 20px;
}
#nav-bar ul{
  list-style: none;
  margin: 0;
}
.nav-link{
  display: block;
  color: black;
  text-decoration: none;
  margin-right: 20px;
  margin-top: -20px;
  line-height: 5%;
}
#right a:hover{
  color: black;
  text-decoration:underline;
}
h1{
  padding-top: 30px;
}
body{
  background-color: #ecdfc8;
  font-family: 'Abel', sans-serif;
}
#header-img{
  width: 100%;
  border-radius: 10px;
}
#about2{
  text-align: left;
}
.video1{
  display: block;
  width: 50%;
  margin: 0 auto;
}

/*flexbox*/
.container{
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  margin: 30px;
}

[class ^="box-"]{
  width: 140px;
  height: 140px;
  background-color: #df7861;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 15px;
  font-family: 'Abel', sans-serif;
  text-align: center;
  padding-top: 30px;
  line-height: 2;
}
.button2{
  background-color: #ecb390;
}
#contact{
  text-align: center;
}
form{
  text-align: center;
  font-size: 16pt;
}
footer{
  display: block;
  height: 75px;
  line-height: 1em;
  background-color: #ecb390;
  overflow: hidden;
  z-index: 1;
  top: 0px;
  width: 100%;
  font-family: 'Abel', sans-serif;
  padding-top: 30px;
  text-align: center;
}
#foot ul{
  list-style: none;
  margin: 0;
}
hr{
  width: 80%;
}
a{
  text-decoration: none;
}
#foot a:hover{
  text-decoration:underline;
}